[{{ group_name }}]
{% for item in ec2.results %}
{{ tag_namespace }}_{{ tag_role }}{{ item.tag_id }} tag_id={{ item.tag_id }} ansible_host={{ item.public_ip }}
{% endfor %}

[{{ group_name }}:vars]
ansible_user=ubuntu
ansible_ssh_private_key_file={% raw %}{{ inventory_dir }}/key{% endraw %}
