[flake8]
ignore = N801, N802, N803, N806, N813, C901, E501, F401
exclude =
    # common places
    .git,__pycache__,docs/source/conf.py,old,build,dist,environment
    # have to skip because the file should be fixed
    setup.py,
    # lots unused import because of fixtures
    indy_client/test,
    indy_node/test,
    # config file
    docker-files/indy_config.py
max-complexity = 10
