# Created by .ignore support plugin (hsz.mobi)
# Byte-compiled / optimized / DLL files
__pycache__/
*/__pycache__
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
_build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.eggs

# Needed for GitHub Actions
!.github/workflows/build

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
pip-selfcheck.json

# CLI logs
cli.log*
cli_output.log

# testing / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
tails/

# Translations
*.mo

# Sphinx documentation
docs/_build/

# others
log/
dist/*/*

# PyCharm settings
.idea/

# Dolphin file manager (KDE)
.directory

# Mac directory attributes
*.DS_Store

# temporary files
*~

# virtual environment
include/

# cli command history file
.*-cli-history

# generated doc files
docs/source/api_docs/

# IntelliJ specific config
*.idea
*.iml

#vscode
.vscode

# Vagrant files
.vagrant

# test output from working with GitHub actions
test-result-node.xml