#jinja2: lstrip_blocks: "true"
---
{{ ansible_managed | comment }}
- include_role:
    name: aws_manage
  vars:
    aws_group_name: {{ group }}
    {% for key, value in hostvars['localhost'].iteritems() if key.startswith(group + '_') %}
    {{ key[(group + '_')|length:] }}: {{ value }}
    {% endfor %}
...
