[Unit]
Description=Service for upgrade existing Indy and another operations
#Requires=indy.service
#After=indy.service
After=network.target


[Service]
Type=simple
EnvironmentFile=/etc/indy/node_control.conf
ExecStart=/usr/bin/node_control_tool.py $TEST_MODE
Restart=on-failure
TimeoutSec=300

[Install]
WantedBy=multi-user.target 

