:root,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

#__next {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
}